
PDFLibrary/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
PDFLibrary/obj/rider.project.restore.info
PDFLibrary/obj/project.packagespec.json
PDFLibrary/obj/project.nuget.cache
PDFLibrary/obj/project.assets.json
PDFLibrary/obj/PDFLibrary.csproj.nuget.g.targets
PDFLibrary/obj/PDFLibrary.csproj.nuget.g.props
PDFLibrary/obj/PDFLibrary.csproj.nuget.dgspec.json
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.GlobalUsings.g.cs
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.GeneratedMSBuildEditorConfig.editorconfig
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.csproj.AssemblyReference.cache
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.assets.cache
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.AssemblyInfoInputs.cache
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.AssemblyInfo.cs
PDFLibrary/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
.idea/.idea.Untitled.dir/.idea/workspace.xml
